@import './globals';

label.input-plus {
    display: block;
    position: relative;

    & .input-plus-ico {
        font-size: 1.25rem;
        width: 1rem;
        height: 1rem;
        // margin-right: 0.5rem;
        position: absolute;
        left: .5rem;
        top: 0rem;
        z-index: 1;
        color: $mainColor;
    }

    & input {
        position: relative;
        width: 100%;
        padding-left: 2.25em;
    }
}